<div class="main-row">
  <article>
    <h2>Notícias Recentes</h2>
     <!-- News 1) Exibe somente se obteve as notícias -->
     <div *ngIf="newsList" class="newslist">

      <!-- News 2) Lista cada notícia (loop) -->
      <div *ngFor="let item of newsList" class="newsitem">

        <img *ngIf="item.urlToImage" src="{{ item.urlToImage }}" alt="Imagem indisponível" title="{{ item.title }}">
        <div>
          <h4><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></h4>
          <small *ngIf="item.description === ''">{{ item.content }}</small>
          <small *ngIf="item.description !== ''">{{ item.description }}</small>
          <small> &rarr; <a href="http://www.{{ item.source.name }}/" target="_blank">{{ item.source.name }}</a></small>
        </div>

      </div>

    </div>

  </article>
  
  <aside>
    <h3>Sidebar</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus doloribus incidunt soluta, sequi ab maxime iure veritatis a possimus ut numquam nisi, cumque cupiditate eos. Iusto corporis pariatur ex unde.</p>
  </aside>
</div>
