<div class="row">
  <article class="col-left">
    <h2>Notícias Recentes</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel dolore neque cumque doloremque quibusdam
      maiores modi veniam accusantium cupiditate magnam quis, labore quidem debitis optio itaque id, praesentium
      blanditiis reiciendis?</p>
    <h4>Links:</h4>
    <ul>
      <li><a href="https://luferat.net/" target="_blank">Site do Fessô</a></li>
      <li><a href="https://www.pi2c.tk/">Site do Projeto Final</a></li>
    </ul>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt earum nobis labore tenetur eveniet hic
      quasi eaque blanditiis architecto. Sapiente modi cumque iste libero impedit consequuntur nobis reiciendis
      nisi illo!</p>

    <button routerLink="/news">Leia as notícias</button>
  </article>
  
  <aside class="col-right">
    <h3>Sidebar</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus doloribus incidunt soluta, sequi ab maxime iure veritatis a possimus ut numquam nisi, cumque cupiditate eos. Iusto corporis pariatur ex unde.</p>
  </aside>
</div>
