<div class="wrap">
  <header class="header" routerLink="/">
    <i class="fas fa-paw fa-fw fa-3x" title="Página inicial"></i>

    <h1>CarePets</h1>
    <small>Em buscar de uma casa para o seu amiguinho</small>
  </header>

  <nav class="nav">
    <a routerLink="/">
      <ion-icon name="home-outline"></ion-icon> Início
    </a>
    <a routerLink="/news">
      <ion-icon name="newspaper-outline"></ion-icon> Notícias
    </a>
    <a routerLink="/contacts">
      <ion-icon name="chatbubbles-outline"></ion-icon> Contatos
    </a>
    <a routerLink="/about">
      <ion-icon name="information-circle-outline"></ion-icon> Sobre
    </a>
  </nav>

  <main class="main">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <a routerLink="/">
      <ion-icon name="home-outline"></ion-icon>
    </a>
    <small>&copy; By Gabriel Martins, 2020</small>
    <a (click)="anchorLink('top')">
      <ion-icon name="arrow-up-outline"></ion-icon>
    </a>
  </footer>
</div>
