<div class="main-row">
  <article>
    
    <h2>Artigos Recentes</h2>
    
    <div class="article" *ngFor="let item of items | async">
        <div routerLink="/view/{{ item.artId }}"><img src="{{ item.img }}" alt="{{ item.title }}"></div>
        <div routerLink="/view/{{ item.artId }}">
        <h4>{{ item.title }}</h4>
        <small>{{ item.intro }}</small>
      </div>
    </div>
 
    </article>

  <aside>
    <h3>Sidebar</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid illo consequatur cumque eligendi odit. Dolor tempore, earum, officiis minima numquam enim, accusamus nam magni praesentium quae adipisci expedita in asperiores.</p>
  </aside>
</div>