<div class="row">
  <article class="col-left">
    <h2>Artigos Recentes</h2>
    
    <div class="articles">
      <div class="article" *ngFor="let item of items | async">
        <img src="{{ item.img }}" alt="{{ item.title }}">
        <h4><a routerLink="/view/{{ item.artId }}">{{ item.title }}</a></h4>
        <small>{{ item.intro }}</small>
      </div>
    </div>
  </article>
 
  <aside class="col-right">
    <h3>Sidebar</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid illo consequatur cumque eligendi odit. Dolor tempore, earum, officiis minima numquam enim, accusamus nam magni praesentium quae adipisci expedita in asperiores.</p>
  </aside>
</div>