.article {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: .4rem;
  cursor: pointer;
}

.article:nth-child(odd) {
  background: rgba(255, 255, 255, 0.05);
}

.article:nth-child(even) {
  background: rgba(255, 255, 255, 0.1);
}

.article:hover {
  background: rgba(255, 255, 255, 0.2);
}

.article:hover h4 {
  color: orangered;
}

.article div:last-child {
  padding: .5rem .5rem .5rem 1rem;
  flex-grow: 1;
}

.article img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: .4rem;
}

.article h4 {
  margin: 0 0 .4rem 0;
  color: steelblue;
}