<div class="main-row">

  <article>

    <h2>Logout | Sair</h2>

    <p>Ao fazer logout você fica sem acesso ao conteúdo exclusivo, mas pode voltar e fazer login a qualquer momento.</p>

    <button class="primary center" (click)="logout()"><i class="fas fa-sign-out-alt fa-fw"></i> Confirmar
      Logout</button>

  </article>

  <aside>

    <h3>Sidebar</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus doloribus incidunt soluta, sequi ab maxime
      iure veritatis a possimus ut numquam nisi, cumque cupiditate eos. Iusto corporis pariatur ex unde.</p>

  </aside>

</div>
