lines (12 sloc)  638 Bytes
 
<div class="row">

  <article class="col-left">

    <h2>Sair do site</h2>
    <p>Ao sair você não terá acesso ao conteúdo exclusivo, mas, você pode fazer login novamente a qualquer momento.</p>
    <button class="primary center" (click)="logout()"><i class="fas fa-sign-out-alt fa-fw"></i>&nbsp; Logout / Sair</button>

  </article>

  <aside class="col-right">

    <h3>Sidebar</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus doloribus incidunt soluta, sequi ab maxime
      iure veritatis a possimus ut numquam nisi, cumque cupiditate eos. Iusto corporis pariatur ex unde.</p>

  </aside>

</div>